body {
	background-color:grey;
	font-family: arial;
	}
p{
	color: pink;
}
h1 {
	color:purple;
}
h1 {
	color:white;
}
#start {
background-color:pink;
border-color:red;
border-style:dotted;}

nav ul {
	list-style-type:none;
	background-color:light pink;
	padding; 4px;
	margin:1px;
	overflow:hidden;
	border-style:solid;
	border-color: red;
}

nav a{
	color:pink;
	text-decoration:none;
	display:block;
	padding:15px;
	text-align:center;
}

nav a:hover{
	background-color:white;
}

nav li {
	float:left;
}

.bawah nav ul {
	list-style-type:none;
	background-color:light pink;
	padding; 4px;
	margin:0px;
	overflow:hidden;
	border-style:solid;
	border-color: red;
	border-width:1px;
}